<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <a href="index.html" class="logo"><img alt="Neubloc: Rightsource Software Design and Development" src="images/logo.png" /></a>
            </div>
            <div class="col-sm-4">
                <div class="search">
                    <form action="http://www.neubloc.com/about-us" method="post" class="top-search" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search our website" name="searchword" />
                            <span class="input-group-btn"><button class="btn btn-default" type="submit" title="Search"><i class="nico-search"></i><span class="hidden">Search</span></button>
                            </span>
                        </div>
                        <input type="hidden" name="task" value="search" />
                        <input type="hidden" name="option" value="com_search" />
                        <input type="hidden" name="Itemid" value="101" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
