{% include base_path %}


{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}




<div class="items-leading clearfix">
    <div class="leading-0">
        <div class="page-header">
            <h2 itemprop="name">
                      <a href="{{ post.link }}" itemprop="url">{{ title }}</a>
            </h2> 
          </div>
        <div class="icons"> </div>
        <dl class="article-info muted">
            <dt class="article-info-term"> Details </dt>
            <dd class="published"> <span class="icon-calendar"></span>
                <time datetime="{{ post.date }}" itemprop="datePublished"> Data publikacji: {{ post.date | date_to_long_string }} </time>
            </dd>
        </dl>
        <div class="pull-left item-image">
        {% if post.image %}
            <a href="{{ post.url | prepend: base_path }}"><img src="{{ post.image|prepend:  page.blog_image_path | prepend: base_path }}" alt="" itemprop="thumbnailUrl"></a>
        {% endif %}
        </div>
        <p>
          {% if post.excerpt | contains: site.excerpt_separator %}
            {{ post.excerpt }}
          {% else %}
            {{ post.content | strip_html | truncatewords: 100  }}
          {% endif %}

        </p>
        <dl class="article-info muted"> </dl>
        <p class="readmore">
            <a class="btn btn-light" href="{{ post.link }}"> <span class="icon-chevron-right"></span> Read more ... </a>
        </p>
    </div>
</div>
{% comment %}
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ excerpt }}</p>{% endif %}
  </article>
</div>{% endcomment %}