{% include base_path %}


{% assign navigation = site.data.navigation[page.sidebar.nav] %}
  {% if page.sidebar.nav %}
         <div class="col-sm-6 col-md-3 mg-bottom sidebar-a">
    
    
            <ul class="nav menu nav-pills nav-stacked">
                {% for m in navigation %}

                    <li class="item-{{ forloop.index }} parent {%if page.url==m.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ m.url }}">{{ m.title }}</a></li>
                    {% endfor %}              
            </ul>
          
        </div>
        {% endif %}