        <div class="line-title">
            <h2>Case Studies</h2></div>
        <div class="row home-case-studies">
            <div class="col-sm-6 col-md-3 mg-bottom">
                <div class="custom">
                    <div class="equal-heights">
                        <h4 class="title">Tachyon Networks Print and Website Design Collateral Program</h4>
                        <h5>Corporate Communications/Websites</h5>
                        <p>Neubloc teamed with Tachyon Network to develop professional services for their satellite network products, including collateral print and web design. Neubloc tailored the services to their specific audience: government agency employees, corporate “c-lecvel” managers and field operations managers.</p>
                    </div>
                    <a class="btn btn-light" href="tachyon-networks-print-and-website-design-collateral-program.html">more</a></div>
            </div>
            <div class="col-sm-6 col-md-3 mg-bottom">
                <div class="custom">
                    <div class="equal-heights">
                        <h4 class="title">RFID Water Park Management System</h4>
                        <h5>Mobile &amp; Wireless</h5>
                        <p>Neubloc redesigned the resort management system for a large water park in Europe with enhanced system features such as a fully automated customer registration, ticket fraud control, all with a user-friendly user interface. </p>
                    </div>
                    <a class="btn btn-light" href="rfid-water-park-management-system.html">more</a></div>
            </div>
            <div class="col-sm-6 col-md-3 mg-bottom">
                <div class="custom">
                    <div class="equal-heights">
                        <h4 class="title">SMART – A Web and Mobile Device Video Conference Management and Room Reservation System</h4>
                        <h5>Enterprise Software/SaaS</h5>
                        <p>Neubloc provided turnkey product development services for the revolutionary web and mobile enterprise application: SMART. Like a shared planner, SMART enables users to reserve and schedule conference rooms across multiple facilities. Additionally, detailed reports on which assets are being used and how often provide more administrative control. </p>
                    </div>
                    <a class="btn btn-light" href="smart-a-web-and-mobile-device-video-conference-management-and-room-reservation-system.html">more</a></div>
            </div>
            <div class="col-sm-6 col-md-3 mg-bottom">
                <div class="custom">
                    <div class="equal-heights">
                        <h4 class="title">Touch Screen User Interface for Pollution Instrumentation</h4>
                        <h5>Embedded</h5>
                        <p>Carbon monoxide is a toxic byproduct of some processes that reduce oxygen delivery in organisms at high levels. Neubloc’s touch screen prototype to monitor and manage carbon monoxide output generated by smokestacks is easy to use, with rich GUI and a 7” VGA resolution panel. This interface identifies problems quickly with a simple click, generating detailed error messages and histograms. </p>
                    </div>
                    <a class="btn btn-light" href="touchscreen-user-interface-for-pollution-instrumentation.html">more</a></div>
            </div>
        </div>
        <br/>
        <div class="line-title"><a class="btn btn-light scroll-to-top" href="#top" title="Scroll to top"><i class="nico-arrow-up"></i></a></div>



