<!DOCTYPE HTML>
<html {% if site.language %}lang="{{ site.language }}"{% endif %}>
<head>
  <meta charset="UTF-8">
    {% assign title = page.title %}
    {% if page.type == 'archives' %}
    {% assign title = '归档' %}
    {% endif %}
    {% if page.type == 'categories' %}
    {% assign title = '分类' %}
    {% endif %}
    {% if page.type == 'tags' %}
    {% assign title = '标签' %}
    {% endif %}
    <base  />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="component/search/indexb764.html?Itemid=166&amp;format=opensearch" rel="search" title="Search Neubloc" type="application/opensearchdescription+xml" />

    <link href="https://fonts.googleapis.com/cssc1ef.css?family=Roboto:400,300,500" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/css/style.min.css" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- <title>Corporate Identity Design</title> -->
        <title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>
    

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    {% if site.author.name %}
    <meta name="author" content="{{ site.author.name }}">
    {% endif %}

    <!-- <meta name="keywords" content="Rightsourcing, software development blog, software outsourcing, outsourcing to Poland, outsourcing to India" /> -->
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <!--<%- open_graph({twitter_id: theme.author.twitter, google_plus: theme.author.google_plus}) %>-->
    
    <meta name="rights" content="Neubloc" />
    <!-- <meta name="description" content="Industry leader in Rightsourcing software development." /> -->
    <meta name="description" content="page.description">
    {% if page.type == 'post' %}
    <meta property="og:type" content="article">
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="page.description">
    <meta name="twitter:creator" content="@{{ site.author.twitter }}">
    <link rel="publisher" href="{{ site.author.google_plus }}">

    {% if site.rss %}
    <link rel="alternative" href="{{ site.rss }}" title="{{ site.title }}" type="application/atom+xml">
    {% endif %}
    {% if site.favicon %}
    <link rel="icon" href="{{ site.assets }}/{{ site.favicon }}">
    {% endif %}
    {% if site.apple_icon %}
    <link rel="apple-touch-icon" href="{{ site.assets }}/{{ site.apple_icon }}">
    <link rel="apple-touch-icon-precomposed" href="{{ site.assets }}/{{ site.apple_icon }}">
    {% endif %}

  <!--   <link rel="stylesheet" href="{{ site.assets }}/css/style.css" type="text/css">
    <link rel="stylesheet" href="{{ site.assets }}/css/highlight.css" type="text/css"> -->
</head>
