/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-weight: 600;
  line-height: $nav-line-height;
  float: left;
  &,
  &:visited {
    color: $grey-color-dark;
  }
}

nav a {
  text-decoration: none;
}

nav li {
  display: inline;
  line-height: $nav-line-height;
  &:last-child {
    padding-right: 0;
  }
}

nav li.current a {
  color: #333;
  font-weight: 600;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.site-nav {
  float: right;
  .menu-icon {
    display: none;
  }
  .page-link {
    color: $text-color;
    line-height: $nav-line-height;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @include media-query($on-palm) {
    right: $spacing-unit / 2;
    background-color: $background-color;
    text-align: right;
    .menu-icon {
      display: block;
      float: right;
      line-height: 0;
      padding-top: 8px;
      text-align: center;
      > svg {
        width: 18px;
        height: 15px;
        path {
          fill: $grey-color-dark;
        }
      }
    }
    .trigger {
      clear: both;
      display: none;
    }
    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }
    .page-link {
      display: block;
      padding: 5px 0 0 10px;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
    .button.button-primary{
      background: none;
      color: inherit;
      box-shadow: none;
      &:hover{
        text-decoration: underline;
        background:none;
      }
    }
  }
}

.langs {
  text-align: right;
  height: 0; // push langs over cover magic
  font-size: 0;
  p, .lang {
    display: inline;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    font-size: $base-font-size;
    padding: 6px;
  }
}

.tagline {
  height: 0;
  padding: 0;
  p {
    top: -100px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: $base-font-size;
    padding: 6px;
    color: white;
    margin: 0;
    max-width: 75%;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  a {
    color: $grey-color-light;
    &:link, &:hover {
      color: $grey-color;
    }
  }
}

.footer-heading {
  font-size: $base-font-size;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: $base-font-size;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-left {
  width: -webkit-calc(67% - (#{$spacing-unit} / 2));
  width:         calc(67% - (#{$spacing-unit} / 2));
}

.footer-col-right {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

#mc-embedded-subscribe-form {
  &.validate {
    padding: 0;
  }
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  position: relative;
}

.page-heading {
  font-size: $base-font-size;
}

.post{
  position: relative;
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
    display: block;
    font-size: $base-font-size;
}

.post-organizers-name{
  color: grey;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-date {
  margin: 10px 0 0 0;
  padding: 0;
}

.post-time {
}

.post-time, .post-organizers-name{
  margin: 0;
  color: #A6A6A6;
}

.title {
  word-wrap: break-word;
  width: 75%;
  @include media-query($on-laptop) {
    font-size: $base-font-size;
    width: 70%;
  }
  @include media-query($on-palm) {
    width: 50%;
  }
}

.content {
  margin-bottom: $spacing-unit;
  h2 {
    font-size: $base-font-size;
    font-weight: 900;
    color: lighten(black, 20%);
  }
  h3 {
    font-size: $base-font-size;
    font-weight: 700;
    color: lighten(black, 30%);
  }
  h4 {
    font-size: $base-font-size;
    font-weight: 300;
    color: lighten(black, 40%);
  }
}

.clearfix {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

.cover {
  height: 180px;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  border-bottom:1px solid #E8E8E8;
  @include media-query($on-laptop) {
    height: 130px;
  }
  @include media-query($on-palm) {
    height: 100px;
  }
}

.activity-card, .location-card {
  color:white;
  border: 1px solid #372121;
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 30%;
  float: left;
  margin: 0 20px 20px 0;
  height: 100%;
  box-sizing: border-box;
  height: 180px;
  border-radius: 3px;
  background-color: #333;
  box-shadow: 0 0 1px rgba(0, 0, 0, .05);
  border: 1px solid #ddd;
  -webkit-tap-highlight-color: transparent;
  h2 {
    font-weight: $base-font-weight;
    position: absolute;
    color: darken(white, 5%);
    bottom: 0px;
    left: 10px;
    z-index: 3;
    span {
      display: block;
      font-size: $small-font-size;
      color: darken(white, 25%);
    }
  }
}

.location-card {
  width: 100%;
  h2 {
    span {
      display: inline;
    }
  }
}

.activity-card-overlay {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0, rgba(15, 20, 31, .1) 25%, rgba(15, 20, 31, .8) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0, rgba(15, 20, 31 ,.1) 25%, rgba(15, 20, 31, .8) 100%);
}

.activity-card-foreign-overlay {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 0, rgba(100, 100, 100, .5) 50%, rgba(100, 100, 100, .8) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.8) 0, rgba(100, 100, 100,.5) 50%, rgba(100, 100, 100, .8) 100%);
}

.location-card-overlay {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(rgba(15, 20, 31, 0) 0, rgba(15, 20, 31, .3) 75%, rgba(15, 20, 31, .8) 100%);
  background-image: linear-gradient(rgba(15, 20, 31, 0) 0, rgba(15, 20, 31 ,.3) 75%, rgba(15, 20, 31, .8) 100%);
}

.author {
  position: absolute;
  top: -170px;
  right: 0px;
  height: 120px;
  width: 120px;
  border-radius: 2px;
  background-color: white;
  background-size: cover;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.5);
  @include media-query($on-laptop) {
    top: -120px;
    height: 70px;
    width: 70px;
  }
  @include media-query($on-palm) {
    height: 60px;
    width: 60px;
    top: 40px;
  }
}

@include media-query($on-laptop) {
  .activity-card {
    margin-right:10px;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .activity-card {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}
