---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    {% include page-edit.html %}
    <h1 class="title" itemprop="name headline">{{ page.title }}</h1>
    {% if organizer.photo %}
      <h3 class="post-organizers-name">By {{organizer.title}}</h3>
    {% endif %}
  </header>
    {% if organizer.photo %}
      <div class="author" style="background-image:url({{organizer.photo}});"></div>
    {% endif %}
    <div class="content" itemprop="articleBody">
    {{content}}
  </div>
  <div>
    {% if location.rsvp.more %}
      <a href='{{location.rsvp.more}}' class="button button-primary">More</a>
    {% endif %}
    {% if location.rsvp.purchase %}
      <a href='{{location.rsvp.purchase}}' class="button button-secondary">Purchase collateral</a>
    {% endif %}
    {% if location.rsvp.register %}
      <a href='{{location.rsvp.register}}' class="button button-secondary">Register</a>
    {% endif %}
  </div>
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.location.url = bettermtl.com;
      this.location.identifier = "{{location.ref}}";
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//bettermtl.disqus.com/embed.js';
      s.setAttribute('data-timestamp', + new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>
