---
layout: default
---
{% include merge/merged-location.html %}
{% assign organizer=site.network | where: "ref", page.organizer | first %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    {% include page-edit.html %}
    <h1 class="title" itemprop="name headline">{{ page.title }}</h1>
    <h3 class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h3>
  </header>
  <div class="content" itemprop="articleBody">
    {{content}}
  </div>
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = bettermtl.com;
      this.page.identifier = "{{page.ref}}";
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//bettermtl.disqus.com/embed.js';
      s.setAttribute('data-timestamp', + new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>
