---
---

{% include base_path %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ site.locale | slice: 0,2 | default: "en" }}" lang="{{ site.locale | slice: 0,2 | default: "en" }}" dir="ltr" class="no-js">

  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <!-- <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}"> -->
<body>
<div id="page-wrap">
    <header>   
    {% include browser-upgrade.html %}
    {% include masthead.html %}
    </header>
    <div class="below-nav hidden-xs"></div>
    
<div class="container">
    <div class="row">
    {% include sidebar.html %}
    <!-- {% include side_nav.html %} -->
    <div class="clearfix visible-sm"></div>
        <div class="col-sm-12 col-md-6 col-md-pull-3 mg-bottom main-column">
            <div id="system-message-container">
            </div>
            <div class="item-page">
                <div class="page-title">
                    <h1> {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }} </h1>
                </div>
    {{ content }}

    </div>
    </div>
    </div>
</div>
<br/>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
   </div>
  </body>
</html>
